<nav class="navbar navbar-default">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed navbar-text"  data-toggle="collapse" data-target="#NavPrimaryLinks">Menu</button>
		<a class="navbar-brand" href="/">{{ config_get("streams::distribution.name") }}</a>
	</div>
	<div class="collapse navbar-collapse" id="NavPrimaryLinks">
		<ul class="nav navbar-nav">
            {% for link in links('header').get() %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
		</ul>
	</div>
</nav>